.Terms{
    .container{
        .title{
            font-size: 32px;
            font-weight: 700;
            line-height: 
            38.4px;
            color: #000000;

        }
        .text{
            p{
                color: #535461;
                font-size: 15px;
                line-height: 18px;
                font-weight: 500;

            }
        }
    }
}