<section class="header py-5">
    <div class="container">
        <div>
            <h1 class="text-center">Find the best Spa’s, Salons and Restaurants around you.</h1>
        </div>
        <div  class="d-flex justify-content-center align-items-start py-5 gap-3 fliter">
            <form [formGroup]="service.filterbodyhome" class="gap-3 d-flex">
                <p-dropdown [options]="" optionlabel="name" placeholder="Listings"></p-dropdown>
                <p-dropdown formControlName="state" [options]="StatesName" optionLabel="name" placeholder="State">
                </p-dropdown>
                <p-dropdown [options]="categoriesName" optionLabel="name" placeholder="Category"></p-dropdown>     
                <input type="text" pInputText placeholder="    Zip Code" />
                <p-button label="Search"   (onClick)="filterlistingBIZ()"></p-button>

         </form>
        </div>

    </div>
</section>
<section  class="wellpaper">
    <div class="pic py-5">
        <img src="../../../assets/img/home/Group 4 (1).png" class="w-100">
    </div>
</section>
<section class="Explore">
    <div class="container">
        <h3 class="text-center">Explore America to find your Favorite Spots.</h3>
          <div class="three-box py-3">
            <div class="row align-items-center justify-content-center gap-5">
                <div class="col-md-3 col-12 one">
                    <p class="pt-3 text-center text-white">Restaurants</p>
                </div>
                <div class="col-md-3 col-12 two">
                    <p class="pt-3 text-center text-white"> Massage</p>

                </div>
                <div class="col-md-3 col-12 three">
                    <p class="pt-3 text-center text-white">Spa & Salons</p>

                </div>
            </div>

          </div>
    </div>

</section>
<section class="cards py-5">
  <div class="container">
    <div class="Restaurant py-4">
      
       <div class="d-flex justify-content-between align-items-center">
        <h4 class="py-3">Top Restaurant Listings</h4>
        <a href="">View All</a>
       </div>
       <div class="row align-items-start justify-content-center gx-0" style="gap: 7rem;">
          <div class="col-md-3 col-11 d-flex gap-2 bg-white border p-0">
            <div>
                <img src="../../../assets/img/home/Rectangle 18.png" alt="" height="140" width="130">
            </div>
            <div  class="contant">
              <p-tag severity="warning" value="Restaurant" [rounded]="true"></p-tag>

              <div class="d-flex align-items-between  justify-content-start  gap-md-5 gap-2 py-2">
                <h6 class="text-nowrap text-start">Cafe Maribelle</h6>
                <i class='bx bx-like fs-5' style='color:#0c0c0d'  ></i>
              </div>
              <small class="">1036 Cambell St, Rapid City, South Dakota, 57701</small>
            </div>
          </div>
          <div class="col-md-3 col-11 d-flex gap-2 bg-white border p-0">
            <div>
                <img src="../../../assets/img/home/Rectangle 22.png" alt="" height="140" width="130">
            </div>
            <div  class="contant">
              <p-tag severity="warning" value="Restaurant" [rounded]="true"></p-tag>

              <div class="d-flex align-items-between  justify-content-start  gap-md-5 gap-2 py-2">
                <h6 class="text-nowrap text-start">Cafe Maribelle</h6>
                <i class='bx bx-like fs-5' style='color:#0c0c0d'  ></i>
              </div>
              <small class="">1036 Cambell St, Rapid City, South Dakota, 57701</small>
            </div>
          </div>
          <div class="col-md-3 col-11 d-flex gap-2 bg-white border p-0">
            <div>
                <img src="../../../assets/img/home/Rectangle 25.png" alt="" height="140" width="130">
            </div>
            <div  class="contant">
              <p-tag severity="warning" value="Restaurant" [rounded]="true"></p-tag>

              <div class="d-flex align-items-between  justify-content-start  gap-md-5 gap-2 py-2">
                <h6 class="text-nowrap text-start">Cafe Maribelle</h6>
                <i class='bx bx-like fs-5' style='color:#0c0c0d'  ></i>
              </div>
              <small class="">1036 Cambell St, Rapid City, South Dakota, 57701</small>
            </div>
          </div>
         
        
        
        
       
      
       </div>
    </div>
    <div class="Salon py-4">
      
        <div class="d-flex justify-content-between align-items-center">
         <h4 class="py-3">Top Salon’s Listings</h4>
         <a href="">View All</a>
        </div>
        <div class="row align-items-start justify-content-center gx-0" style="gap: 7rem;">
           <div class="col-md-3 col-11 d-flex gap-2 bg-white border p-0">
             <div>
                 <img src="../../../assets/img/home/s1.png" alt="" height="140" width="130">
             </div>
             <div  class="contant">
               <p-tag severity="warning" value="Restaurant" [rounded]="true"></p-tag>
 
               <div class="d-flex align-items-between  justify-content-start  gap-md-5 gap-2 py-2">
                 <h6 class="text-nowrap text-start">Cafe Maribelle</h6>
                 <i class='bx bx-like fs-5' style='color:#0c0c0d'  ></i>
               </div>
               <small class="">1036 Cambell St, Rapid City, South Dakota, 57701</small>
             </div>
           </div>
           <div class="col-md-3 col-11 d-flex gap-2 bg-white border p-0">
             <div>
                 <img src="../../../assets/img/home/s2.png" alt="" height="140" width="130">
             </div>
             <div  class="contant">
               <p-tag severity="warning" value="Restaurant" [rounded]="true"></p-tag>
 
               <div class="d-flex align-items-between  justify-content-start  gap-md-5 gap-2 py-2">
                 <h6 class="text-nowrap text-start">Cafe Maribelle</h6>
                 <i class='bx bx-like fs-5' style='color:#0c0c0d'  ></i>
               </div>
               <small class="">1036 Cambell St, Rapid City, South Dakota, 57701</small>
             </div>
           </div>
           <div class="col-md-3 col-11 d-flex gap-2 bg-white border p-0">
             <div>
                 <img src="../../../assets/img/home/s3.png" alt="" height="140" width="130">
             </div>
             <div  class="contant">
               <p-tag severity="warning" value="Restaurant" [rounded]="true"></p-tag>
 
               <div class="d-flex align-items-between  justify-content-start  gap-md-5 gap-2 py-2">
                 <h6 class="text-nowrap text-start">Cafe Maribelle</h6>
                 <i class='bx bx-like fs-5' style='color:#0c0c0d'  ></i>
               </div>
               <small class="">1036 Cambell St, Rapid City, South Dakota, 57701</small>
             </div>
           </div>
          
         
         
         
        
       
        </div>
     </div>
     <div class="Spa py-4">
      
        <div class="d-flex justify-content-between align-items-center">
         <h4 class="py-3">Top Spa’s Listings</h4>
         <a href="">View All</a>
        </div>
        <div class="row align-items-start justify-content-center gx-0" style="gap: 7rem;">
           <div class="col-md-3 col-11 d-flex gap-2 bg-white border p-0">
             <div>
                 <img src="../../../assets/img/home/spa1.png" alt="" height="140" width="130">
             </div>
             <div  class="contant">
               <p-tag severity="warning" value="Restaurant" [rounded]="true"></p-tag>
 
               <div class="d-flex align-items-between  justify-content-start  gap-md-5 gap-2 py-2">
                 <h6 class="text-nowrap text-start">Cafe Maribelle</h6>
                 <i class='bx bx-like fs-5' style='color:#0c0c0d'  ></i>
               </div>
               <small class="">1036 Cambell St, Rapid City, South Dakota, 57701</small>
             </div>
           </div>
           <div class="col-md-3 col-11 d-flex gap-2 bg-white border p-0">
             <div>
                 <img src="../../../assets/img/home/spa2.png" alt="" height="140" width="130">
             </div>
             <div  class="contant">
               <p-tag severity="warning" value="Restaurant" [rounded]="true"></p-tag>
 
               <div class="d-flex align-items-between  justify-content-start  gap-md-5 gap-2 py-2">
                 <h6 class="text-nowrap text-start">Cafe Maribelle</h6>
                 <i class='bx bx-like fs-5' style='color:#0c0c0d'  ></i>
               </div>
               <small class="">1036 Cambell St, Rapid City, South Dakota, 57701</small>
             </div>
           </div>
           <div class="col-md-3 col-11 d-flex gap-2 bg-white border p-0">
             <div>
                 <img src="../../../assets/img/home/sap3.png" alt="" height="140" width="130">
             </div>
             <div  class="contant">
               <p-tag severity="warning" value="Restaurant" [rounded]="true"></p-tag>
 
               <div class="d-flex align-items-between  justify-content-start  gap-md-5 gap-2 py-2">
                 <h6 class="text-nowrap text-start">Cafe Maribelle</h6>
                 <i class='bx bx-like fs-5' style='color:#0c0c0d'  ></i>
               </div>
               <small class="">1036 Cambell St, Rapid City, South Dakota, 57701</small>
             </div>
           </div>
          
         
         
         
        
       
        </div>
     </div>
  </div>
</section>
