<nav class="py-2 navbarr">
    <div class="container">
     <div class="row align-items-center justify-content-center">
         <div class="col-5">
             <ul class="d-flex gap-5 list-unstyled m-0">
                 <li routerLink="/home">Home</li>
                 <li routerLink="/listing">Listing</li>
                 <li  routerLink="/posting">Posting</li>
                 <li routerLink="/buysell">Buy & sell</li>
             </ul>
         </div>
         <div class="col-5">
             <img src="../../../assets/img/logo/logo.png" alt="">
         </div>
         <div class="col-2">
             <ul class="d-flex gap-5 list-unstyled m-0">
                 <li routerLink="/auth/login">Login</li>
                 <li routerLink="/auth/register">Sign Up</li>
               
             </ul>
         </div>
     </div>
    </div>
 </nav>
 <div class="mobile">
     <div class="container">
       <div class="row justify-content-center align-items-center d-flex">
         <div class="col justify-content-center align-items-center d-flex">
           <p-button type="button" class="" (click)="sidebarVisible1 = true" icon="pi pi-filter fs-1"></p-button>
           
         </div>
         <div class="col justify-content-center align-items-center d-flex">
           <img src="../../../assets/img/logo/logo.png" alt="logo" class="">
         
       </div>
       <div class="col justify-content-center align-items-center d-flex">
         <p-button type="button" class="" (click)="sidebarVisible2 = true" icon="pi pi-align-justify fs-1"></p-button>
 
       </div>
     </div>
 </div>
 </div>
 <p-sidebar [(visible)]="sidebarVisible1" position="left">
  
   <div class="div-searchBar2 py-2">
     <div class="form-group justify-content-between align-items-center d-flex">
         <div class="justify-content-center align-items-center d-flex gap-3 div-searchBar flex-column">
           <form [formGroup]="service.filterbodynav">
             <p-dropdown
               [options]="categories"
               optionlabel="name"
               placeholder="Listing"
             ></p-dropdown>
             <p-dropdown
               formControlName="state"
               [options]="StatesName"
               optionLabel="name"
               placeholder="State"
             >
             </p-dropdown>
             <p-dropdown
               [options]="categories"
               optionlabel="name"
               placeholder="Category"
             ></p-dropdown>
             <input type="text" pInputText placeholder="      Zip Code" />
                <div class="align-items-center d-flex justify-content-center">
                 <button class="Search-btn" (click)="fliterlistingBIZ()">
                     Search
                   </button>
                </div>
           </form>
 
         </div>
       
     </div>
 </div>
   
 </p-sidebar>
 <p-sidebar [(visible)]="sidebarVisible2" position="right">
   <div class="d-flex justify-content-between align-items-center flex-column">
     <div>
       <ul class="navbar-nav  me-auto mb-2 mb-lg-0  text-center">
         <li class="nav-item  justify-content-center align-items-center d-flex">
           <a class="nav-link py-4" routerLink="/home" routerLinkActive="bg" >Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link py-4" routerLink="/listing"  routerLinkActive="bg" >Listing</a>
         </li>
         <li class="nav-item">
           <a class="nav-link py-4"  routerLink="/posting" routerLinkActive="bg" >Posting</a>
         </li>
         <li class="nav-item">
            <a class="nav-link py-4"  routerLinkActive="bg" routerLink="/buysell" >Buy & Sell </a>
         </li>
       
       </ul>
     </div>
     <div class="mt-5 justify-content-center align-items-center">
       <div class="py-1 mt-5">
         <button class="btn-1" routerLink="/login">Log In</button>
 
       </div>
       <div class="py-1">
         <button class="btn-2" routerLink="/register">Sign Up</button>
 
       </div>
 
     </div>
   </div>
 </p-sidebar>