nav {
    box-shadow: 0px 4px 4px 0px #00000040;
    display: block;

}

.mobile {
    display: none;
    background-color: #ffff;

    box-shadow: 0px 4px 4px 0px #00000040;

}

.p-sidebar-right,
.p-sidebar-left {
    top: 0;
    right: 0;
    width: 190px !important;
    height: 100%;
}

.p-button.p-button-icon-only {
    margin: 0px 17px;
    background-color: white;
    color: black;
    border: none;
}

.btn-1 {
    background-color: #000000;
    color: #ffff;
    Width: 123px;
    height: 38px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0 6px;
}

.btn-2 {
    background-color: transparent;
    color: black;
    width: 123px;
    height: 38px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0 6px;
}

.div-searchBar2 {
    background-color: #ffff;
    margin: 0px 10px;

    .form-group {
        .Search-btn {
            background-color: black;
            color: #ffff;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            width: 111px;
            height: 38px;
            margin: 20px 0px;
         
        }

        .p-dropdown,
        input {
            border: 1px solid black;
            width: 160px;
            background-color: transparent;
            margin: 10px;
            justify-content: center;
            align-items: center;
            display: flex;
            height: 40px;

            span {
                align-items: center;
                justify-content: center;
                display: flex;
            }
        }

        input {
            justify-content: center;
            align-items: center;
            display: flex;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        }


    }
}


@media (max-width: 767px) {
    .navbarr {
        display: none;
    }

    .mobile {
        display: block;

    }

    a .nav-link {
        color: #0F3D3E;
        word-break: none;
    }
}

@media (min-width:768px) and (max-width:1400px) {
    .navbarr {
        display: none;
    }

    .mobile {
        display: block;

    }
}