nav{
    box-shadow: 0px 4px 4px 0px #00000040;
    display: block;

}
.mobile{
    display: none;
    background-color: #ffff;

    box-shadow: 0px 4px 4px 0px #00000040;

}

.p-sidebar-right , .p-sidebar-left {
    top: 0;
    right: 0;
    width: 188px !important;
    height: 100%;
}
.p-button.p-button-icon-only{
    margin: 0px 17px;
    background-color: white;
    color: black;
    border: none;
}

@media (max-width: 767px) {
    .navbarr{
        display: none;
    }
    .mobile{
        display: block;
       
    }
    a .nav-link{
        color: #0F3D3E;
        word-break: none;      
    }
}
@media (min-width:768px) and (max-width:1400px) {
    .navbarr{
        display: none;
    }
    .mobile{
        display: block;
       
    }
}