<section class="posting py-5">

    <div class="container" *ngIf="datainfo">
        <div class="box-white">
            <div class="div-info d-flex align-items-center justify-content-start gap-3 py-3">
                <img src="{{ datainfo.business.logo}}" alt="" width="60" height="60" class="rounded-circle" />
                <div>
                    <h4 class="p-0 m-0">{{ datainfo.title}}</h4>
                    <div class="d-flex gap-1 justify-content-start align-items-center">
                        <i class='bx bx-world fs-6' style='color:#6b6666'></i>
                        <p class="title-time text-muted m-0">{{datainfo.postTime}}</p>
                    </div>
                </div>

            </div>
             
            <div class="justify-content-center align-items-center d-flex">
               <p-galleria
          
               [value]="galleryphotos"
               [showItemNavigators]="true"
               [responsiveOptions]="responsiveOptions"
               [circular]="true"
               [numVisible]="5"
               [showThumbnailNavigators]="false"
             >
               <ng-template pTemplate="item" let-item>
                 <img
                   [src]="item"
                   class="w-75"
                 />
               </ng-template>
               <ng-template pTemplate="thumbnail" let-item>
                 <div class="d-grid justify-content-center align-items-center d-flex gap-1">
                   <img
                     [src]="item"
                     class=" w-50"
                   />
                 </div>
               </ng-template>
             </p-galleria>
       
            </div>

            <div class="py-3">
                <p class="text-start">{{datainfo.content}}</p>
            </div>
        </div>
    </div>


</section>