<section class="header py-5">
    <div class="container">
        <div>
            <h1 class="text-center">Find the best Spa’s, Salons and Restaurants around you.</h1>
        </div>

    </div>
</section>
<section  class="wellpaper">
    <div class="pic py-5">
        <img src="../../../assets/img/home/Group 4 (1).png" class="w-100">
    </div>
</section>
<section class="Explore">
    <div class="container">
        <h3 class="text-center">Explore America to find your Favorite Spots.</h3>
          <div class="three-box py-3">
            <div class="row align-items-center justify-content-center gap-5">
                <div class="col-md-3 col-12">
                    <img src="../../../assets/img/home/Rectangle 88.png" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../assets/img/home/Rectangle 7.png" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../assets/img/home/Rectangle 87.png" alt="">
                </div>
            </div>

          </div>
    </div>

</section>
