footer{
    background-color: black;
    color: white;
    button{
       background-color: transparent;
       border: white 1px solid;
       color: white;
       border-radius:4px ;
       -webkit-border-radius:4px ;
       -moz-border-radius:4px ;
       -ms-border-radius:4px ;
       -o-border-radius:4px ;
       width: 140px;
       height: 30px;
}
}