
<section class="Area py-5">
    <div class="container">
      <div class="row justify-content-between align-items-center d-flex">
        <div class="">
          <div class="d-flex justify-content-between align-items-center gap-3">
            <h2 class="h1 p-0 m-0 me-3">
              All Salons in your Area
            </h2>
  
            <div>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                  type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                  <div class="par d-flex align-items-center justify-content-center gap-1">
                    <i class='bx bx-list-ul fs-3' style='color:#020101'  ></i>
                    <p class="p-0 m-0 hide">List View</p>
                  </div>
                </button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                  type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                  <div class="par d-flex align-items-center justify-content-center gap-1">
                    <i class='bx bxs-image fs-3'  style='color:#020101' ></i>
                    <p class="p-0 m-0 hide">Photos View</p>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
     
        <div class="tab-content py-5" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
            tabindex="0">
            <div *ngIf="postingarray" class=" data d-flex gap-2 justify-content-center align-items-center py-3 row px-4">
              <div routerLink="details/{{ item.id }}" *ngFor="let item of postingarray" class="card my-0 py-0 px-0"
                style="max-width: 1250px;">
                <div class="row g-0">
                  <div class="col-4">
                    <img src="{{item.business.logo}}" class="rounded-start" alt="..." class="w-100" height="200" />
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                       <div><h5 class="title-name">{{item.title}}</h5>
                      </div>
                       <div class="d-flex gap-1 justify-content-start align-items-center">
                        <i class='bx bx-world fs-6' style='color:#6b6666'  ></i>
                        <p class="title-time text-muted m-0">{{item.postTime}}</p>
                      </div>
                       <div>
                        <p class="description"  [ngStyle]="{ 'font-weight': item?.bold ? 'bold' : 'normal', 'font-style': item?.italic ? 'italic' : 'normal' }">{{item.content}}</p>
                       </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <div class="row justify-content-strat align-items-center d-flex gap-3 py-3 p-0">
                <div class="col-md-3 col-12" *ngFor="let item of postingarray">
                        <div class="card justify-content-between align-items-center d-flex">
                            <img src="{{ item.business.logo}}" alt="" class="w-100 img-fluid object-fit-fill border rounded photo">
                              <div class="title py-2">
                                <h5>{{ item.title}}</h5>
                              </div>
                        </div>
                    </div>
                   
                
                </div>
          </div>
      
        </div>
        <div>
          <!-- <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
            [totalRecords]="postingarray.length"></p-paginator> -->
        </div>
      </div>
    </div>
  </section>