
<section>
    <div class=" d-flex mob">
      <div class="left hide-from-web">
        <h2 class="text-center py-5">Find the best Spa’s, <br> Salons and Restaurants <br> around you.</h2>
      </div>
      <div class="right">
          <div class="justify-content-center align-items-center d-flex">
             <img src="../../../assets/img/auth/bg.png" alt="" class="w-100">
          </div>
        <h2 class="py-5 text-center">Contact US</h2>
        <form>
         <div class="py-1 w-100">
            <p class="m-1 p-1"></p>
            <input pInputText id="email" class="form-control"  placeholder="Email" />
         </div>
         <div class="py-1 w-100">
            <p class="m-1 p-1"></p>
            <textarea class="w-100" pInputTextarea formControlName="text" placeholder="    Message"></textarea>
        </div>
        <div class="justify-content-center align-items-center d-flex py-3 w-100">
            <button class="send w-50">Send</button>
         </div>

       </form>
       <p class="text-center pointer" routerLink="/home" >Back to Home Page</p>
      </div>
    </div>
        
   
</section>